@{
    ViewBag.Title = "contact base19 Solutions";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Snail mail us at:</strong><br />
    base19 Solutions LLC<br />
    Cuyahoga Falls, OH 44221<br />
    <abbr title="Phone">P:</abbr>
    330.400.8169
</address>

<strong>or better yet</strong>
<br /><br />
<address>
    <strong>Email us at:</strong>   <a href="mailto:jburkle19@gmail.com">base19 Solutions</a><br />
</address>