@{
    ViewBag.Title = "base19 Solutions";
}

<div class="jumbotron">
    <h1>base19 Solutions</h1>
    <p class="lead">because base19 solutions are 9 better than base10 solutions to modern day problems</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>what is base19?</h2>
        <p>a group of software engineers and developers available to solve your web and mobile software needs</p>
        <p><a class="btn btn-default" href="@Url.Action("Contact", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>solution driven</h2>
        <p>you have a problem?<br />we have the best solution based on your needs</p>
        <p><a class="btn btn-default" href="@Url.Action("Contact", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>offered services</h2>
        <p>smart people, working in various technology stacks, building cutting-edge web and mobile solutions</p>
        <p><a class="btn btn-default" href="@Url.Action("Contact", "Home")">Learn more &raquo;</a></p>
    </div>
</div>